@charset "UTF-8";

/*
  paleta de cores

  verde
  lilás: #5f2c82
  Verde: #49a09d 

*/

*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

}

body,html{
 background: #9f53d2;
 height: 100vh; 
 overflow-y: hidden;
}
main{
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}
section#login{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  overflow: hidden;

  background-color: transparent;
  width: 300px;
  height: 555px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgb(0,0, 0.45);

  transition:  width 0.3s, height 0.3s;
  transition-timing-function:  ease;
}
section#login > article#imagem{
  display: block;
  background: #5f2c82 url(../imagens/patter01.jpg) no-repeat;
  height: 200px;
  background-size: cover;
  background-position: center;
}section#login > article#formulario{
  display: block;
  padding: 10px;
}
div#formulario{
  padding: 8px;
}
div#formulario > h1{
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.77);
  text-align: center;
  margin-bottom: 15px;
}
div#formulario > p {
  color: rgb(0, 0, 0);
  margin: 2px;
  font-size: 1em;
}
div.campo > label{
  display: none;;
}
form > div.campo {
  padding: 3px;
  position: relative;
  background-color: #000000;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  margin: 4px 2px;
}
.campo i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color:black;
  font-size: 1.5em;
  z-index: 2;
}
.campo input {
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 5px;
  padding-left: 40px; /* espaço pro ícone */
  background-color: #94cfcd;
  outline: none;
}
div#formulario >h1{
  font-size: 2em;
}
.forme{
  margin:10px 1px;
  display: block;
  font-size: 1em;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background-color: #49a09d ;
  color: white;
  border: 3px solid black;
  cursor: pointer;

}
.forme:hover{
  background-color: #36706e ;

}
a.botao{
  padding: 4px;
  display: block;
  text-align: center;
  width: 100%;
  height: 40px;
  background-color: white;
  border-radius: 5px;
  text-decoration: none;
  color: #060606;
  border: 3px solid black;
}
a.botao:hover{
  background-color: #5cbbb7;
}
.campo > input:focus-within{
  background: linear-gradient(white);
  border: none;
}
.campo > input:hover{
  background-color: #56b3af;
}